:root {
    --background-color: white;
    --text-primary: black;
    --text-secondary: #bbb;

    --nav-opaque: rgb(255, 255, 255, 1);
    --nav-transparent: rgb(255, 255, 255, 0);

    --selection-background: #030303;
    --selection-text: #fff;

    --highlight-color: #e5e5e5;
    --box-shadow: rgba(0, 0, 0, 0.18);
    --box-background: var(--background-color);

    /* --link-background: #e5e5e5; */
    --link-background: #FDF3C5;
    --link-text: var(--text-primary);
}

[data-theme="dark"] {
    --background-color: #050505;
    --text-primary: #D4D4D4;
    --text-secondary: #737373;

    --nav-opaque: rgb(5, 5, 5, 1);
    --nav-transparent: rgb(5, 5, 5, 0);

    --selection-background: #fff;
    --selection-text: #030303;

    --highlight-color: #F49E0B;
    --box-shadow: rgba(255, 255, 255, 0);
    --box-background: var(--background-color);

    --link-background: #f5f5f533;
    --link-text: var(--background-color);
}

::selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-text);
}

* {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary);
    overflow-x: hidden;
    min-height: 100vh;
    padding-bottom: 80px;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

img {
    width: 100%;
}

h1,
h2 {
    font-weight: bold;
    margin-bottom: 0.9rem;
    text-align: center;
}

h1:not(:first-child),
h2:not(:first-child) {
    margin-top: 3rem;
}

h1 {
    font-size: 1.625rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.center {
    text-align: center;
    align-items: center;
}

.name {
    font-size: 2rem;
    margin-bottom: 0rem;
}

.pronounce {
    color: var(--text-secondary);
}

h2 {
    font-size: 1.625rem;
    line-height: 2.5rem;
}

p,
ul,
li,
dl {
    margin-bottom: 0.9rem;
}

dt {
    display: block;
    margin-top: 0.9rem;
}

dt:before {
    content: "";
    display: block;
    margin-top: 0.9rem;
}

dd {
    display: block;
}

mark {
    background-color: var(--highlight-color);
    text-align: center;
    padding: 2px 0;
}

dt a {
    pointer-events: auto;
    position: relative;
    z-index: -1;

    background: var(--link-background);
}


/* links on home page have a gray background */
.home a {
    background: var(--link-background);
}

.home a:after {
    display: none !important;
}

.home a:hover {
    background: var(--highlight-color);
    color: var(--link-text);
}

dt a:after,
li a:after {
    display: none;
}

dt a:hover:after,
li a:hover:after {
    display: none;
}

a {
    position: relative;
    display: inline-block;
}

a:after {
    content: "";
    display: block;
    position: absolute;
    background: var(--text-primary);
    height: 1px;
    width: 100%;
    bottom: 0px;
}

ol,
ul,
dl {
    list-style: none;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: 700;
}

.me {
    max-width: 300px;
    margin-bottom: 10px;
}

.list-bullets dd {
    display:list-item !important;
    list-style-type: square !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 60rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.experience-list {
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.box {
    margin-top: 24px;
    margin-bottom: 4rem;
    padding: 2rem;
    position: relative;
    border: 1px solid var(--text-secondary);
    background-color: var(--box-background);
    -webkit-box-shadow: -0.75rem 0.75rem 0 var(--box-shadow);
    box-shadow: -0.75rem 0.75rem 0 var(--box-shadow);
}

.projects .box:hover {
    border: 1px solid var(--text-secondary);
    cursor: pointer;
}

.projects {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /* grid-auto-rows: 1fr; */
    width: 100%;
}

.projects .box {
  padding: 10px 14px;
  /* Remove box styling surrounding elements */
  margin-bottom: 0px;
  box-shadow: none;
  border: 1px solid var(--background-color);
}

/* Single row layout on mobile screens */
@media screen and (max-device-width: 480px) {
    .projects {
        display: block;
    }
    .projects .box:not(:first-child) {
        margin-left: 0px;
    }
}


.row .box:not(:first-child),
.column:not(:first-child) {
  margin-left: 20px;
}

.hidden {
    visibility: hidden;
}

.mt-4 {
    margin-top: 4rem;
}

.art p, .projects p {
    margin-top: 0.5rem;
    color: var(--text-secondary);
    font-size: 0.85rem;
    line-height: 1rem;
}

.projects .box a {
    width: 100%;
    height: 100%;
}

.projects .box a:after {
    display: none;
    color: var(--text-primary);
}

.projects .name {
    font-size: 0.95rem;
    color: var(--text-primary);
}

.projects .name a:after {
    display: none;
}

.projects .stack {
    display: flex;
}

.projects p {
    margin: 5px 0;
}

.projects .stack p {
    margin-right: 2px;
}

.ml-p5 {
    padding-left: 0.5rem;
    /* color: var(--text-primary) !important; */
}

.small {
    font-size: 0.85rem;
    line-height: 1rem;
}

.header img {
    height: 70px;
    width: auto;
}

nav .links {
    top: 0;
    right: 0;
    position: fixed;
    margin: 0px 20px;
    z-index: 100;
    text-align: right;

    padding: 20px 0;
}

nav .logo {
    top: 0;
    left: 0;
    position: fixed;
    margin: 0px 0px;
    z-index: 100;
    font-weight: bold ;

    /* White to transparent vertical gradient */
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, var(--nav-opaque) 50%, var(--nav-transparent) 100%);
    padding: 20px 0 60px 0;
    width: 100%;
}

nav a {
    margin-left: 13px;
    text-decoration: none;
}

nav a::after {
    background: none;
}

nav .logo a {
    border: 1px solid var(--text-primary);
    padding: 4px 4px;
    -webkit-box-shadow: -4px 4px 0 var(--box-shadow);
    box-shadow: -4px 4px 0 var(--box-shadow);
}

nav .links a {
    padding: 4px 0px;
}

nav .logo a:hover {
    margin-top: -2px;
    /* background: var(--highlight-color); */
    /* color: var(--link-text) */
}

nav .links a:hover:after {
    background: var(--text-primary);
}

footer {
    margin-top: 40px;
}

footer i {
    font-size: 16px !important;
    margin-top: 4px;
    margin-left: 5px;
}

footer a:after {
    display: none;
}

footer .left {
    float: left;
    max-width: calc(50% - 10px);
}

footer .right {
    float: right;
    text-align: right;
    max-width: calc(50% - 10px);
}


.checkbox {
   text-align: center;
}

/* images checkbox */
.checkbox input[type=checkbox]{
	background: grey;
    border: none;
    margin: 0 14px;
}

.checkbox input:checked {
	background: #F49E0B;
}

.info img {
    width: 18px;
    height: 18px;
    float: left;
    border-radius: 50%;
    margin-right: 5px;
}

.tags {
    display: flex;
}

.tags .tag {
    background: var(--link-background);
    color: var(--link-text);
    padding: 0 4px;
    margin-right: 5px;
}

.lotus {
    height: 30px !important;
    width: 30px !important;
    margin-bottom: -8px; /* forgive me css gods */
}

.search {
    text-align: center;
    margin: 5px 14px 5px 14px;
    /* border: 1px solid var(--text-secondary); */
}

.search input {
    padding: 5px 14px;
    background: var(--background-color) !important;
    color: var(--text-primary);
    text-align: center;
    max-width: 500px;
    border: 1px solid var(--text-secondary);
    width: 100%;
    box-shadow: inset 0px 0px 0px 0px red;
}

.search:hover {
    outline-width: 0px;
}

.filters {
    padding: 5px 10px;
    text-align: center;
    margin-top: 1.2rem;
}

.filters button {
    margin: 4px 4px;
    padding: 4px 10px;
    text-transform: capitalize;
    background: var(--background-color);
    border: 1px solid var(--text-secondary);
    color: var(--text-primary)
}

.filter-active {
    background: var(--text-secondary) !important;
    color: var(--link-text) !important;
}